@model WorkByrdServer.Models.RegisterUserViewModel

@{
    ViewData["Title"] = "WorkByrd Administration - Geography";

}

<h4>@ViewData["Title"]</h4>
<div class="row">
    @*TODO - Model this page much like a category page in Word Press*@

    @*<div class="col-md-4">
        <a id="btnGeography" href="@Url.ActionLink("Geography", "WorkByrdAdmin")" class="btn btn-primary">Geography</a>
        <div id="descGeography" class="">
            <p>
                Manage Countries, States, Timezones, and Taxes.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <a id="btnClients" href="@Url.ActionLink("Clients", "WorkByrdAdmin")" class="btn btn-primary">Clients</a>
        <div id="descClients" class="">
            <p>
                Manage Clients. View a Company's employees, their employee roles, their subscription status, their past subscription history, etc.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <a id="btnAnalytics" href="@Url.ActionLink("Clients", "WorkByrdAdmin")" class="btn btn-primary">Analytics</a>
        <div id="descAnalytics" class="">
            <p>
                Other data...
            </p>
        </div>
    </div>*@
</div>